<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>编辑学员信息</title>
    <link rel="stylesheet" type="text/css" href="/base.css"></link>
</head>
<body>
<form action="http://localhost:3000/doEditor" method="post">
    <input type="hidden" name="userId" value="{{data._id}}">
    <div>
        <span>姓名：</span><input type="text" name="name" value="{{data.name}}">
    </div>
    <div>
        <span>年龄：</span><input type="number" min="1" max="100" name="age" value="{{data.age}}">
    </div>
    <input type="submit" value="确定">
</form>

</body>
</html>
